.container{
    display: flex;
    flex-direction: column;
    list-style:inside;
    gap: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container__li{
   cursor: pointer;
   font-weight:800;
   color: rgb(58, 58, 58);
}

.container__li:hover{
    color: var(--color-red);
}

.container:hover{
    color: var(--color-red)
}

@media (min-width: 700px) {
    .container{
        display: flex;
        flex-direction: row;
        gap: 10px;
        
    }
  }
  